<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<parameter name="browser" value="IE"></parameter>
	<parameter name="URL" value="https://fb.com"></parameter>
  <test thread-count="5" name="Test">
	  <groups>
		  <run>
			  <include name="Regression"></include>			  
		  </run>
	  </groups>
	  <classes>
		  <class name="practise.Class1"></class>
		  <class name="practise.Class2">
<!-- 	  <methods>
				  <include name="demoTest2"></include>
			  </methods> -->
		  </class>
		  <class name="practise.Class3">
<!--		  <methods>
				  <exclude name="demoTesting1"></exclude>
			  </methods> -->
		  </class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
